body{
    background-color: #c9ffcf;
}

.avatar{
    width: 80px;
    height: 80px;
    border-radius: 50px;
}

.container{
    border: solid; 
    width: 256px; 
    border-radius: 16px; 
    position: absolute; 
    padding: 16px;
}

.taskbar{
    display: flex; 
    justify-content: space-between; 
    position: absolute; 
    bottom: 0; 
    width: 100%; 
    padding: 10px; 
    backdrop-filter: blur(8px); 
    background-color: rgba(255, 255, 255, 0.5);
    overflow: hidden;
}